#imagen{

    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    height: 350px;

   background-color: rgba(255, 255, 255, 0.7);
   box-shadow: 4px 4px 9px #999;

    border-radius: 29px 29px 29px 29px;
    -moz-border-radius: 29px 29px 29px 29px;
    -webkit-border-radius: 29px 29px 29px 29px;
    border: 0px solid #000000;

}
.img-responsive {
    margin: 0 auto;
}

#barras {
    width: 500px;
     box-shadow: 4px 4px 9px #999;
}
#total{
    width: 1140px;
     box-shadow: 4px 4px 9px #999;
}
button{
    width: 100px;
    height: 100px;
    opacity: 0.8;
}


#carne{
    opacity: 0.85;
    background-image:url(../images/carne.png);
    background-size: cover;
    overflow: hidden;
    background-position: center;

}

#leche{
    opacity: 0.85;
    background-image:url(../images/leche.png);
    background-size: cover;
    overflow: hidden;
    background-position: center;

}
#huevos{
    opacity: 0.85;
    background-image:url(../images/huevos.png);
    background-size: cover;
    overflow: hidden;
    background-position: center;

}
#pollo{
    opacity: 0.85;
    background-image:url(../images/pollo.png);
    background-size: cover;
    overflow: hidden;
    background-position: center;

}
#fritas{
    opacity: 0.85;
    background-image:url(../images/fritas.png);
    background-size: cover;
    overflow: hidden;
    background-position: center;

}
#torta{
    opacity: 0.85;
    background-image:url(../images/torta.png);
    background-size: cover;
    overflow: hidden;
    background-position: center;

}
#pizza{
    opacity: 0.85;
    background-image:url(../images/pizza.png);
    background-size: cover;
    overflow: hidden;
    background-position: center;

}
#ensalada{
    opacity: 0.85;
    background-image:url(../images/ensalada.png);
    background-size: cover;
    overflow: hidden;
    background-position: center;

}
#manzana{
    opacity: 0.85;
    background-image:url(../images/manzana.png);
    background-size: cover;
    overflow: hidden;
    background-position: center;

}
#LimonNaranja{
    opacity: 0.85;
    background-image:url(../images/LimonNaranja.png);
    background-size: cover;
    overflow: hidden;
    background-position: center;

}
.img-selected{
    background: #444444;
}