#nav{
line-height: 80px;
height: 80px;
<<<<<<< HEAD
background-color: rgba(0, 130, 255, 0.9);
 box-shadow: 5px 5px 11px ;
=======
background-color: rgba(0, 0, 0, 0.7);
 border: none;

 box-shadow: 5px 5px 15px #000;
>>>>>>> refs/remotes/origin/master

  }

 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
      background: #000;
	  height: 80px;
 }