#nav{
line-height: 80px;
height: 80px;
background-color: rgba(0, 130, 255, 0.9);
 box-shadow: 5px 5px 11px ;

  }

 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
      background: #2E2EFE;
	  height: 80px;
 }